.organization{
    background: green;
}
.tour{
    background: blue;
}
.features{
    background: brown;
}
.blog{
    background: red;
}
.code{
    background: black;
}
.maintenance{
    background: orange;
}
